<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZsXbwFe9YN4AW777HTii4H5GoBEPp8nU</string>
	<key>GCM_SENDER_ID</key>
	<string>384395352003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.houslyFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hously-b8bda</string>
	<key>STORAGE_BUCKET</key>
	<string>hously-b8bda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384395352003:ios:0b0f6ee6e040bef16c8f76</string>
</dict>
</plist>